.heading {
  font-weight: bolder;
  color: #99efd0;
  font-family: 'Inconsolata', monospace;
}

.subheading {
  color: #8476aa;
  padding-top: 5%;
  padding-bottom: 5%;
}

.basic-text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #8476aa;
}

.link-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #6d6d78;
}
