.Hero-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20%;
  background-color: #f7fdfb;
}

h1 {
  font-weight: bolder;
  font-size: 500%;
  color: #8d2a4b;
  font-family: 'Inconsolata', monospace;
}
