.navbar-light .navbar-nav .nav-link {
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #b5b5b5;
}

.btn-sign-in {
  padding: 1em;
  border: 1px solid #f2994a;
  box-sizing: border-box;
  border-radius: 4px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;

  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;

  color: #f2994a;
}

.btn-sign-up {
  padding: 1em;
  background: #f2994a;
  box-shadow: -11.09px 18.13px 36.6483px rgba(242, 153, 74, 0.13);
  border-radius: 3px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
}

.p-6 {
  padding-top: 2%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
}

.mr-6 {
  margin-right: 0%;
}
