.name {
  font-style: normal;
  font-weight: bold;
  line-height: 32px;
  letter-spacing: 0.325px;
  color: #f2994a;
}

.pages {
  color: white;
  font-size: 15px;
  justify-content: space-between;
}

.title {
  font-weight: bold;
  padding-top: 2%;
  padding-bottom: 2%;
}

.terms {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #8d8d8d;
}
