.name {
  font-style: normal;
  font-weight: bold;
  line-height: 32px;
  letter-spacing: 0.325px;
  color: #f2994a;
}

.pages {
  color: white;
  font-size: 15px;
}

.title {
  font-weight: bold;
  padding: 2%;
}
